/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';

.categories.navbar.sticky-top {
    top: 56px !important;
}

.categories .nav-pills {
    flex-wrap: nowrap;
    scrollbar-width: none;
    overflow-x: auto;
}

.header-icons {
    display: flex;
    gap: 0.5rem;
}

.header-icon {
    border-radius: 50%;
    background-color: rgb(25, 135, 84);
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.header-icon a {
    color: white;
    font-size: 0.75rem;
    line-height: 2rem;
}

.categories .nav-link {
    color: rgb(25, 135, 84);
}

.categories .nav-pills .nav-link.active {
    background-color: rgb(25, 135, 84);
}

.card a{
    color: #212529;
    text-decoration: none;
}

img{
    width: 100%;
}